@use "../../assets/style/abstracts/mixins" as mixn;
@use "../../assets/style/abstracts/variable" as var;

.home {
  // background-image: linear-gradient(-45deg, #588157, #a3b18a);
  background-image: linear-gradient(-45deg, #577f5799, #a3b18b99);
  width: 100vw;
  height: 100vh;
  @include mixn.flexy(column, center, center, 2rem);
  position: relative;
  color: var.$color-greenish;

  h1 {
    font-size: 5rem;
    font-weight: var.$fwt-400;

    @media screen and (max-width: 450px) {
      font-size: 3rem;
      font-weight: var.$fwt-600;
    }
    @media screen and (max-width: 700px) {
      font-size: 2.6rem;
      font-weight: var.$fwt-600;
    }
  }

  p {
    width: 60%;
    font-size: var.$fsi-18;
    font-weight: var.$fwt-500;
    text-align: center;
  }

  &__btn {
    margin-top: 2rem;
    button {
      cursor: pointer;
      padding: 0.5rem 1.5rem;
      border-radius: var.$bor-1;
      border: 0.1rem solid white;
      background-color: greenyellow;
      background-image: linear-gradient(
        -45deg,
        hsla(119, 19%, 42%, 0.6),
        hsla(82, 20%, 62%, 0.6)
      );
      color: hsla(120, 37%, 8%, 0.8);
      box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.1);
      transition: all 0.2s ease;

      &:hover {
        outline: auto;
        outline-color: rgba(255, 255, 255, 0.8);
        outline-offset: 0.5rem;
        outline-width: 0.1rem;
        outline-style: dashed;
        transform: translateY(-0.2rem);
      }
    }
  }
}
