@use "../../assets/style/abstracts/mixins" as mixn;
@use "../../assets/style/abstracts/variable" as var;

.auth {
  background-image: var.$bg-image-home, url("/images/home-bg-01.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  @include mixn.flexy(column, center, center, 2rem);

  h2 {
    font-size: var.$fsi-2;
    color: white;
  }

  hr {
    width: 10%;
    border: none;
    margin: 1rem 0;
    transform: rotate(90deg);
  }
}
