@use "../../assets/style/abstracts/mixins" as mixn;
@use "../../assets/style/abstracts/variable" as var;

.auth {
  background-image: linear-gradient(
    -45deg,
    #623ff0,
    rgba(103, 148, 252, 0.814)
  );
  width: 100vw;
  height: 100vh;
  @include mixn.flexy(column, center, center, 2rem);

  h2 {
    font-size: var.$fsi-2;
    color: white;
  }

  hr {
    width: 10%;
    border: none;
    margin: 1rem 0;
    transform: rotate(90deg);
  }
}
