@use "../../../assets/style/abstracts/mixins" as mixn;
@use "../../../assets/style/abstracts/variable" as var;

.login-guest {
  width: 100%;
  margin: 0;
  @include mixn.flexy(column, center, center, 0.8rem);

  .tips-toggler {
    color: var.$color-font-form-01;
    font-size: var.$fsi-12;
    font-weight: 600;
    cursor: pointer;
  }

  .tips {
    @include mixn.flexy(row, space-between, space-between, 2rem);
    color: #2e33aa;

    span {
      font-size: var.$fsi-12;
      font-weight: var.$fwt-700;
    }
  }
}
