@use "../../../assets/style/abstracts/mixins" as mixn;
@use "../../../assets/style/abstracts/variable" as var;

.login {
  &-form {
    @include mixn.auth;
  }

  &-email,
  &-password {
    @include mixn.auth-credential;
  }
  &-forgot-pw {
    width: 100%;
    @include mixn.flexy(row, flex-end, center, 4rem);

    span {
      color: var.$color-font-form-01;
      font-size: var.$fsi-12;
      font-weight: 600;
    }
  }
  &_btn {
    @include mixn.auth-btn;
    margin: 1rem 0;
  }
  &-google {
    width: 100%;
    @include mixn.flexy();

    .L5Fo6c-sM5MNb,
    #gsi_83032_349055-wrapper {
      @include mixn.flexy();
    }

    & > div {
      width: 100%;
      border-radius: var.$bor-2;
      overflow: hidden;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: translateY(-0.2rem);
      }
    }
  }

  &__create-account {
    align-self: center;
    margin-top: 2rem;
    font-size: var.$fsi-14;

    p {
      color: var.$color-font-form-01;
    }

    span {
      color: var.$color-font-form-01;
      font-weight: 600;
    }
  }
}
.wrong-user {
  align-self: center;
  color: #a23811;
}
.tips {
  @include mixn.flexy(row, center, center, 4rem);
  align-self: center;
  color: #2e33aa;
  font-size: var.$fsi-12;

  span {
    .label {
      filter: brightness(120%);
      font-weight: var.$fwt-700;
    }
  }
}
