@use "../../../assets/style/abstracts/mixins" as mixn;
@use "../../../assets/style/abstracts/mixins02" as mixn02;
@use "../../../assets/style/abstracts/variable" as var;

.login {
  &-form {
    @include mixn02.auth;
  }

  &-email,
  &-password {
    @include mixn02.auth-credential;
  }

  &_btn {
    @include mixn02.auth-btn;
    margin: 1rem 0;
  }

  &__create-account {
    align-self: center;
    margin-top: 2rem;
    font-size: var.$fsi-14;

    p {
      color: #2e33aa;
    }

    span {
      color: rgba(24, 24, 225, 0.5);
    }
  }
}
.wrong-user {
  align-self: center;
  color: #a23811;
}
.tips {
  align-self: center;
  @include mixn.flexy(column, center, center, 1rem);
  color: #2e33aa;
  font-size: var.$fsi-12;
}
