@use "../../../assets/style/abstracts/mixins" as mixn;
@use "../../../assets/style/abstracts/variable" as var;

.signup {
  &-form {
    @include mixn.auth;

    &-email,
    &-password {
      @include mixn.auth-credential;
    }

    &_btn {
      @include mixn.auth-btn;
      margin-top: 1rem;
    }
  }

  &__back-login {
    margin-top: 2rem;
    align-self: center;

    font-size: var.$fsi-14;
    p {
      color: var.$color-font-form-01;
    }
    span {
      color: var.$color-font-form-01;
      font-weight: 600;
    }
  }
}
