@use "../../../../../assets/style/abstracts/mixins" as mixn;
@use "../../../../../assets/style/abstracts/mixins_02" as mixn2;
@use "../../../../../assets/style/abstracts/variable" as var;

.card-move {
  @include mixn.flexy(column, center, center);
  width: auto;
  position: absolute;
  bottom: 3rem;
  left: 1rem;
  padding: 1rem 3rem;
  padding-top: 1.5rem;
  border-radius: var.$bor-05;
  box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.3);
  cursor: default;

  &__btn--close {
    @include mixn2.close-btn();
  }

  &__heading {
    font-size: var.$fsi-16;
    text-align: center;
    font-weight: var.$fwt-600;
    margin-bottom: 4rem;
  }

  .body {
    p {
      font-size: var.$fsi-14;
      font-weight: var.$fwt-500;
      margin-bottom: 1rem;
    }
    select {
      padding: 1rem 1rem;
    }

    select:not(:first-child) {
      padding-left: 2rem;
    }

    @include mixn.flexy(row, left, center, 1rem);
    margin: 1rem 0;
    &__left {
    }
    &__right {
    }
  }

  &__btn {
    margin: 2rem 0;

    button {
      padding: 1rem 2rem;
      border: none;
      cursor: pointer;
    }
  }
}
