@use "../../assets/style/abstracts/mixins" as mixn;
@use "../../assets/style/abstracts/variable" as var;

.lists-menu-container {
  position: absolute;
  top: -2rem;
  left: 50%;
  z-index: var.$z-ix-4000;

  @media screen and (max-width: 600px) {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
  }
}

.lists-menu {
  @include mixn.flexy(column, flex-start);
  width: var.$wd-list-01 + 2rem;
  min-height: 80vh;
  height: auto;
  padding-bottom: 2rem;
  border-radius: var.$bor-1;
  box-shadow: 0.2rem 0.2rem 2rem rgba(0, 0, 0, 0.15);
  overflow-y: auto;

  position: relative;

  &__heading {
    margin: 2rem 0;
    font-size: var.$fsi-18;
    font-weight: var.$fwt-600;
  }

  &__btns {
    @include mixn.flexy(column, center, flex-start);
    width: 100%;

    .lists-menu__btn {
      width: 100%;
      padding: 1rem 2rem;
      position: relative;

      &:hover::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 0.3rem;
        height: 100%;
        background-color: var.$border-color-card;
      }
    }

    hr {
      margin: 1rem 0;
      align-self: center;
      width: 90%;
      border: none;
    }

    button {
      font-size: var.$fsi-16;
      font-weight: var.$fwt-500;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
  &__btn-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    height: 4rem;
    width: 4rem;
    @include mixn.flexy();
    border-radius: var.$bor-05;
    cursor: pointer;
  }
  &__overlay {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 1000%;
    height: 1000%;
    background-color: rgba(0, 0, 0, 0.2);
  }
}
