@use "../../assets/style/abstracts/variable" as var;
@use "../../assets/style/abstracts/mixins" as mixn;

.account-btn {
  @include mixn.flexy(row, center, center);
  background-color: var.$bg-color-dark-btn-account;
  width: 3rem;
  height: 3rem;
  border-radius: var.$bor-50;

  cursor: pointer;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 120%;
    height: 120%;
    border-radius: var.$bor-50;
    opacity: 0;
    background-color: transparent;
    border: 0.4rem solid var.$color-grey-01;

    transition: all 0.2s ease;
  }

  &:hover::before {
    opacity: 0.5;
  }

  p {
    color: var.$color-white-02;
    font-size: 1.6rem;
  }
}
