@use "../../assets/style/abstracts/variable" as var;
@use "../../assets/style/abstracts/mixins" as mixn;

.menu-account {
  position: absolute;
  top: (var.$height-nav-01);
  right: 0;
  width: 100vw;
  height: 90vh;
}
.menu__overlay {
  position: absolute;
  top: -(var.$height-nav-01 + 0.1rem);
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: var.$z-ix-1;
}

.menu {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  @include mixn.flexy(column, flex-start, flex-start);
  width: auto;
  height: 90vh;
  padding-bottom: 1rem;
  border-radius: var.$bor-05;
  box-shadow: -0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.15);
  z-index: var.$z-ix-200;

  & hr {
    width: 100%;
    border: none;
    margin: 1rem 0;
  }

  &__heading {
    margin-top: 2rem;
    margin-left: 2rem;
    font-size: var.$fsi-14;
    font-weight: var.$fwt-500;
  }

  &__logo {
    @include mixn.flexy(row, flex-start, center, 1rem);
    padding: 0 2rem;

    &--icon {
      @include mixn.flexy();
      background-color: var.$bg-color-dark-btn-account;
      width: 4rem;
      height: 4rem;
      margin: 2rem 0;
      border-radius: var.$bor-50;
      opacity: 1;
      transition: all 0.2s ease;

      & p {
        color: var.$color-white-02;
        font-size: var.$fsi-14;
        font-weight: var.$fwt-500;
      }
    }

    &--photo {
      position: absolute;
      @include mixn.flexy();
      background-color: var.$bg-color-dark-nav-glass;
      width: 4rem;
      height: 4rem;
      margin: 2rem 0;
      border-radius: var.$bor-50;
      opacity: 0;
      transition: all 0.2s ease;
      cursor: pointer;
    }

    &:hover &--icon {
      opacity: 0;
    }

    &:hover &--photo {
      opacity: 1;
    }

    &--texts {
    }

    &--user {
      font-size: var.$fsi-14;
      font-weight: var.$fwt-500;
      margin-bottom: 0.5rem;
    }
    &--email {
      font-size: var.$fsi-14;
      font-weight: var.$fwt-500;
    }
  }

  &__theme {
    width: 100%;
    padding: 1rem 2rem;
    transition: all 0.2s ease;
    position: relative;
    cursor: pointer;

    &:hover {
      border-right: 0.2rem solid var.$border-color-card;
    }

    &--btn {
      @include mixn.flexy(row, flex-start, center, 1rem);
      width: 70px;
      height: 50px;
      border-radius: var.$bor-1;
      box-shadow: 0rem 0.2rem 0.1rem rgba(0, 0, 0, 0.15);

      & img {
        object-fit: cover;
        width: 100%;
      }
    }

    &--heading {
      font-size: var.$fsi-14;
      font-weight: var.$fwt-500;
    }

    &--list {
      position: absolute;
      top: 0;
      left: 0;
      width: 20rem;
      transform: translate(-100%, -6.5%);
      padding-top: 1rem;
      padding-bottom: 1rem;

      list-style: none;
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
      box-shadow: -0.5rem 0rem 0.5rem rgba(0, 0, 0, 0.05) inset;
      display: none;

      @media screen and (max-width: 450px) {
        top: 50%;
        left: 40%;
        box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.15);
      }

      & li {
        width: 100%;
        padding: 1rem 3rem;
        font-size: var.$fsi-14;
        font-weight: var.$fwt-500;
        @include mixn.flexy(row, flex-start, center, 1.5rem);
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 0.2rem;
          height: 100%;
          background-color: var.$border-color-card;
          display: none;
        }

        &:hover::before {
          display: block;
        }
      }

      & li:first-child {
        border-bottom: 0.1rem solid var.$border-color-02;
      }
    }

    &:hover &--list {
      display: block;
    }
  }
  &__logout {
    width: 100%;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      border-right: 0.2rem solid var.$border-color-card;
    }

    &--text {
      font-size: var.$fsi-14;
      font-weight: var.$fwt-500;
    }
  }
  &__donate {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: all 0.2s ease;

    &--text {
      background-image: linear-gradient(
        to right,
        rgb(203, 67, 33),
        rgb(107, 47, 176)
      );
      color: white;
      padding: 0.5rem;
      border-radius: 0.5rem;
      text-align: center;
      font-size: var.$fsi-16;
      font-weight: var.$fwt-600;
      box-shadow: 0.2rem 0.3rem 0.5rem rgba(0, 0, 0, 0.25);
      cursor: pointer;

      &:hover {
        filter: brightness(110%);
      }
    }
  }
}
