@use "../../assets/style/abstracts/variable" as var;
@use "../../assets/style/abstracts/mixins" as mixn;

.menu-account {
  position: absolute;
  top: (var.$height-nav-01);
  right: 0;
  width: 100vw;
  height: 90vh;
}
.menu__overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200vw;
  height: 200vh;
  transform: translate(-50%, -50%);
  z-index: var.$z-ix-1;
  background-color: rgba(0, 0, 0, 0.15);
}

.menu {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  @include mixn.flexy(column, flex-start, flex-start);
  min-width: 15rem;
  width: auto;
  height: 90vh;
  padding-bottom: 1rem;
  border-radius: var.$bor-05;
  box-shadow: -0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.15);
  z-index: var.$z-ix-2000;

  & hr {
    @include mixn.hr;
  }

  &__heading {
    margin-top: 2rem;
    margin-left: 2rem;
    font-size: var.$fsi-14;
    font-weight: var.$fwt-500;
  }

  &__logo,
  &__workspaces {
    @include mixn.flexy(row, flex-start, center, 1rem);
    padding: 0 2rem;

    &--icon {
      @include mixn.flexy();
      width: 4rem;
      height: 4rem;
      margin: 2rem 0;
      border-radius: var.$bor-50;
      opacity: 1;
      transition: all 0.2s ease;

      & p {
        color: var.$color-white-02;
        font-size: var.$fsi-14;
        font-weight: var.$fwt-500;
      }
    }

    &--photo {
      position: absolute;
      @include mixn.flexy();
      width: 4rem;
      height: 4rem;
      margin: 2rem 0;
      border-radius: var.$bor-50;
      opacity: 0;
      transition: all 0.2s ease;
      cursor: pointer;
    }

    &:hover &--icon {
      opacity: 0;
    }

    &:hover &--photo {
      opacity: 1;
    }

    &--texts {
    }

    &--user {
      font-size: var.$fsi-14;
      font-weight: var.$fwt-500;
      margin-bottom: 0.5rem;
    }
    &--email {
      font-size: var.$fsi-14;
      font-weight: var.$fwt-500;
    }
  }

  #menu-theme {
    display: none;
  }
  #themes {
    display: none;
  }

  #menu-theme:checked ~ #themes {
    display: block;
  }

  .theme-btn-container {
    width: 100%;
    transition: all 0.2s ease;

    .theme-btn-main {
      @include mixn.flexy(row, flex-start);
      padding: 1rem;
      padding-left: 2rem;
      width: 100%;
      cursor: pointer;

      .heading {
        font-size: var.$fsi-14;
        font-weight: var.$fwt-500;
      }
    }

    &:hover {
      border-right: 0.2rem solid var.$border-color-card;
    }
  }
  &__logout,
  &__workspaces {
    width: 100%;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      border-right: 0.2rem solid var.$border-color-card;
    }

    &--text {
      font-size: var.$fsi-14;
      font-weight: var.$fwt-500;
    }
  }
  &__donate {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: all 0.2s ease;

    &--text {
      background-image: linear-gradient(
        to right,
        rgb(203, 67, 33),
        rgb(107, 47, 176)
      );
      color: white;
      padding: 0.5rem;
      border-radius: 0.5rem;
      text-align: center;
      font-size: var.$fsi-16;
      font-weight: var.$fwt-600;
      box-shadow: 0.2rem 0.3rem 0.5rem rgba(0, 0, 0, 0.25);
      cursor: pointer;

      &:hover {
        filter: brightness(110%);
      }
    }
  }
}
