@use "./variable" as var;
@use "./functions" as *;

// display flex

@mixin flexy(
  $direction: row,
  $just-content: center,
  $al-item: center,
  $gap: 0rem
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $just-content;
  align-items: $al-item;
  gap: $gap;
}

// theme makers

@mixin bg($theme-name, $bg-dark, $bg-light) {
  @if ($theme-name == theme-dark) {
    background-color: $bg-dark;
  } @else {
    background-color: $bg-light;
  }
}

@mixin bg-with-hover($theme-name) {
  &:hover {
    background-color: theme($theme-name, "bg", "hover");
  }
}
