@use "./variable" as var;

@mixin flexy(
  $direction: row,
  $just-content: center,
  $al-item: center,
  $gap: 0rem
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $just-content;
  align-items: $al-item;
  gap: $gap;
}

// themes maker

@mixin color-bg-font(
  $theme-name,
  $bg-dark,
  $bg-light,
  $font-dark: null,
  $font-light: null
) {
  @if ($theme-name == theme-dark) {
    background-color: $bg-dark;
    @if ($font-dark != null) {
      color: $font-dark;
    }
  } @else {
    background-color: $bg-light;
    @if ($font-light != null) {
      color: $font-light;
    }
  }
  transition: all 0.2s ease;
}

@mixin bg($theme-name, $bg-dark, $bg-light) {
  @if ($theme-name == theme-dark) {
    background-color: $bg-dark;
  } @else {
    background-color: $bg-light;
  }
}

@mixin border($theme-name, $bor-01, $bor-02) {
  @if ($theme-name == theme-dark) {
    border: 0.1rem solid $bor-01;
  } @else {
    border: 0.1rem solid $bor-02;
  }
}

@mixin border-bottom($theme-name) {
  @if ($theme-name == theme-dark) {
    border-bottom: 0.1rem solid var.$border-color-01;
  } @else {
    border-bottom: 0.1rem solid var.$border-color-02;
  }
}

@mixin handler-theme($theme-name) {
  .#{$theme-name} {
    ::-webkit-scrollbar-thumb {
      border-radius: var.$bor-1;
      @if ($theme-name == theme-dark) {
        background-color: var.$bg-color-dark-scroll-01;
      } @else {
        background-color: var.$bg-color-light-scroll-01;
      }
    }

    hr {
      @include border-bottom($theme-name);
    }
    .loading {
      @include color-bg-font(
        $theme-name,
        var.$bg-color-dark-card,
        var.$bg-color-light-card,
        var.$font-color-dark-02,
        var.$font-color-light-01
      );
      &__icon {
        &::before,
        &::after {
          @include color-bg-font(
            $theme-name,
            var.$font-color-dark-02,
            var.$font-color-light-01
          );
        }
      }
    }

    .board {
      &__btn--add {
        @include color-bg-font(
          $theme-name,
          rgba(0, 0, 0, 0.2),
          rgba(255, 255, 255, 0.2),
          var.$font-color-dark-02,
          var.$font-color-light-01
        );
        &:hover {
          @include bg(
            $theme-name,
            rgba(0, 0, 0, 0.5),
            rgba(255, 255, 255, 0.5)
          );
        }
      }

      &__new-list {
        @include color-bg-font(
          $theme-name,
          var.$bg-color-dark-card,
          var.$bg-color-light-card,
          var.$font-color-dark-02,
          var.$font-color-light-01
        );

        &--input {
          input {
            @include color-bg-font(
              $theme-name,
              var.$bg-color-dark-card,
              var.$bg-color-light-card,
              var.$font-color-dark-02,
              var.$font-color-light-01
            );
          }
        }
      }
    }
    .side-bar-left {
      &,
      &__btn-toggler,
      &__container {
        @include color-bg-font(
          $theme-name,
          var.$bg-color-dark-side-bar-01,
          var.$bg-color-light-side-bar-01,
          var.$font-color-dark-01,
          var.$font-color-light-03
        );
      }
      &__btn {
        &:hover {
          @include bg(
            $theme-name,
            var.$bg-color-dark-hover,
            var.$bg-color-light-hover-02
          );
        }
      }
    }
    .card {
      @include color-bg-font(
        $theme-name,
        var.$bg-color-dark-card,
        var.$bg-color-light-card,
        var.$font-color-dark-01,
        var.$font-color-light-01
      );
    }
    .lists {
      &--container--sub {
        @include color-bg-font(
          $theme-name,
          var.$bg-color-dark-lists,
          var.$bg-color-light-lists,
          var.$font-color-dark-01,
          var.$font-color-light-01
        );
      }

      &__heading {
        &--btn {
          &:hover {
            @include color-bg-font(
              $theme-name,
              var.$bg-color-light-hover-02,
              var.$bg-color-light-hover-02,
              var.$font-color-dark-01,
              var.$font-color-light-01
            );
          }
        }
        &--text input {
          @if ($theme-name == theme-dark) {
            color: var.$font-color-dark-01;
          } @else {
            color: var.$font-color-light-01;
          }
        }
      }
      &__btn--add {
        &:hover {
          @include bg(
            $theme-name,
            var.$bg-color-dark-hover,
            var.$bg-color-light-hover-02
          );
        }
      }
    }

    .nav-bar {
      @include color-bg-font(
        $theme-name,
        var.$bg-color-dark-nav-01,
        var.$bg-color-light-nav-01,
        var.$font-color-dark-01,
        var.$font-color-light-03
      );

      @include border-bottom($theme-name);

      & .logo__icon {
        @include color-bg-font(
          $theme-name,
          var.$font-color-dark-01,
          var.$color-white-02
        );

        &::after,
        &::before {
          @include color-bg-font(
            $theme-name,
            var.$bg-color-dark-nav-01,
            var.$color-grey-02
          );
        }
      }
    }
    .menu {
      @include color-bg-font(
        $theme-name,
        var.$bg-color-dark-menu,
        var.$bg-color-light-menu,
        var.$font-color-dark-01,
        var.$font-color-light-01
      );

      @include border($theme-name, var.$border-color-02, var.$border-color-02);

      &__theme--list {
        @if ($theme-name == theme-dark) {
          border: 0.1rem solid var.$border-color-01;
        } @else {
          border: 0.1rem solid var.$border-color-02;
        }
      }

      &__theme {
        &:hover {
          @include bg(
            $theme-name,
            var.$bg-color-dark-hover,
            var.$bg-color-light-hover
          );
        }

        &--list {
          @include color-bg-font(
            $theme-name,
            var.$bg-color-dark-menu,
            var.$bg-color-light-menu,
            var.$font-color-dark-01,
            var.$font-color-light-01
          );

          & li {
            &:hover {
              @include bg(
                $theme-name,
                var.$bg-color-dark-hover,
                var.$bg-color-light-hover
              );
            }
          }
        }
      }

      &__logout {
        &:hover {
          @include bg(
            $theme-name,
            var.$bg-color-dark-hover,
            var.$bg-color-light-hover
          );
        }
      }
    }
  }
}
