@use "./mixins" as mixn;
@use "./variable" as var;
@use "../../style/base/animation" as *;

@mixin auth {
  @include mixn.flexy(column, center, flex-start, 1rem);
  background-color: var.$bg-auth;
  padding: 3rem 6rem;
  padding-top: 4rem;
  border-radius: var.$bor-15;

  a {
    &,
    &:active,
    &:visited {
      text-decoration: none;
      color: var.$bg-home;
    }
  }

  @media screen and (max-width: 2000px) {
    width: 30%;
  }

  @media screen and (max-width: 1000px) {
    width: 50%;
  }
  @media screen and (max-width: 700px) {
    width: 70%;
    padding: 3rem 3rem;
  }
}

@mixin auth-credential {
  @include mixn.flexy(column, center, flex-start);
  width: 100%;
  position: relative;

  label {
    color: var.$color-black-02;
    font-size: var.$fsi-16;
  }

  input {
    border: 0.1rem solid var.$bg-home;
    outline: none;
    background-color: white;
    outline: none;
    margin: 0.5rem 0;
    padding: 0.5rem;
    width: 100%;
    height: 3rem;

    @media screen and (max-width: 450px) {
      width: 100%;
    }
  }
}

@mixin auth-btn {
  @include mixn.flexy(column);
  width: 100%;

  button {
    width: 100%;
    align-self: center;
    cursor: pointer;
    margin-top: 1rem;
    padding: 0.5rem 2rem;
    border-radius: var.$bor-1;
    border: 0.1rem solid white;
    background-color: var.$bg-home;
    background-image: var.$bg-image-home;
    color: white;
    box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease;
    position: relative;

    .loading-notifiation {
      @include spinner(10%, 30%);
    }

    &:hover {
      outline: auto;
      outline-color: rgba(255, 255, 255, 0.8);
      outline-offset: 0.5rem;
      outline-width: 0.1rem;
      outline-style: dashed;
      transform: translateY(-0.2rem);
    }
  }
}

@mixin spinner($x-val: 30%, $y-val: -12%) {
  @include mixn.flexy();
  position: absolute;
  top: $y-val;
  left: $x-val;
  color: white;
  animation: spinner 1s ease 0s infinite;
}

@mixin hr {
  width: 100%;
  height: 0.1rem;
  border: none;
  margin: 1rem 0;
}
