@import url("https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// Color
$bg-image-home: linear-gradient(-45deg, #623ff0, rgba(103, 148, 252, 0.814));
$bg-home: #623ff0;
$bg-auth: #ffffff40;

// dark theme
$bg-color-dark-nav-01: #1d2125;
$bg-color-dark-nav-glass: #22272b68;
$bg-color-dark-side-bar-01: #1e2429fc;
$bg-color-dark-lists: #101204;
$bg-color-dark-card: #21262a;
$bg-color-dark-card-modal: #323940;
$bg-color-dark-menu: #283036;
$bg-color-dark-btn-account: #1a66d8;
$bg-color-dark-scroll-01: #1e2429fc;

$bg-color-dark-hover: #c1d3ef1a;
$bg-color-dark-hover-02: #c1d3ef1a;
$bg-color-dark-hover-03: #c1d3ef40;

$font-color-dark-01: #adbccc;
$font-color-dark-02: #ffffff;
$font-color-dark-03: #b6b6b6;

// light theme
$bg-color-light-nav-01: #3d567d;
$bg-color-light-nav-glass: #22272b68;
$bg-color-light-side-bar-01: #3d547dfc;
$bg-color-light-lists: #f1f2f4;
$bg-color-light-card: #ffffff;
$bg-color-light-menu: #f1f2f4;
$bg-color-light-btn-account: #1a66d8;
$bg-color-light-scroll-01: #445777fc;

$bg-color-light-hover: #6e849626;
$bg-color-light-hover-02: #8aa2b65a;
$bg-color-light-hover-03: #6e849640;

$font-color-light-01: #5e6c84;
$font-color-light-02: #728393;
$font-color-light-03: #ffffff;
$font-color-light-04: rgba(0, 0, 0, 0.7);

// other color
$color-white-01: #c9d6e4;
$color-white-02: #ffffff;
$color-black-01: #000000;
$color-black-02: #101204;
$color-grey-01: #9e9e9e;
$color-grey-02: #545454;

$border-color-01: #45505b;
$border-color-02: #abb7c480;
$border-color-card: #59a4e1;

// Typography

// font families = ff
$ff-01: "Reddit Mono", "Roboto", "Ubuntu Mono", "Blinker", Segoe UI, Roboto,
  Droid Sans, Helvetica Neue, sans-serif;

// font size = fsi
$fsi-root: 62.5%;
$fsi-1: 1rem;
$fsi-12: 1.2rem;
$fsi-14: 1.4rem;
$fsi-16: 1.6rem;
$fsi-18: 1.8rem;
$fsi-2: 2rem;

// font weight

$fwt-200: 200;
$fwt-300: 300;
$fwt-400: 400;
$fwt-500: 500;
$fwt-600: 600;
$fwt-700: 700;

// Width, Space, or Gap
$margin-vertical-card: 1rem;
$margin-vertical-lists: 2rem;
$margin-horizontal-card: 1rem;
$margin-horizontal-lists: 1rem;

$padding-vertical-card: 1rem;
$padding-vertical-lists: 1rem;
$padding-horizontal-card: 1rem;
$padding-horizontal-lists: 1rem;

$gap-tiny: 1rem;
$gap-small: 2rem;
$gap-medium: 4rem;
$gap-big: 6rem;
$gap-huge: 10rem;

// mi-wd === min-width
$mi-wd-list-01: 27rem;

$wd-list-01: 30rem;

$height-nav-01: 5rem;

// border-radius === bor
$bor-015: 0.15rem;
$bor-02: 0.2rem;
$bor-05: 0.5rem;
$bor-1: 1rem;
$bor-15: 1.5rem;
$bor-18: 1.8rem;
$bor-2: 2rem;
$bor-50: 50%;

// z-index === z-ix

$z-ix-1: 1;
$z-ix-10: 10;
$z-ix-20: 20;
$z-ix-50: 50;
$z-ix-100: 100;
$z-ix-150: 150;
$z-ix-200: 200;
$z-ix-250: 250;
$z-ix-300: 300;
$z-ix-350: 350;
$z-ix-400: 400;
$z-ix-450: 450;
$z-ix-500: 500;
$z-ix-550: 550;
$z-ix-600: 600;
$z-ix-650: 650;
$z-ix-700: 700;
$z-ix-750: 750;
$z-ix-800: 800;
$z-ix-850: 850;
$z-ix-900: 900;
$z-ix-950: 950;
$z-ix-1000: 1000;
$z-ix-1500: 1500;
$z-ix-2000: 2000;
$z-ix-2500: 2500;
$z-ix-3000: 3000;
$z-ix-3500: 3500;
$z-ix-4000: 4000;
$z-ix-4500: 4500;
