@use "../../../assets/style/abstracts/mixins" as mixn;
@use "../../../assets/style/abstracts/variable" as var;

.reset-password {
  &-form {
    @include mixn.auth;

    .heading {
      color: var.$color-font-form-01;
      align-self: center;
      margin-bottom: 1.5rem;
    }
  }

  &-email {
    @include mixn.auth-credential;
  }

  &_btn {
    @include mixn.auth-btn;
    margin: 1rem 0;
  }
}
