@use "../../assets/style/abstracts/mixins" as mixn;
@use "../../assets/style/abstracts/variable" as var;

.error-message {
  width: 100%;
  @include mixn.flexy(column);
  padding: 2rem;
  background-color: #623ff0;
  color: white;

  .errors {
    @include mixn.flexy(column);
  }
  .message,
  .status-code {
    text-transform: capitalize;
    margin: 0.5rem;
  }
}
