@use "../abstracts/variable" as var;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var.$fsi-root;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
      180deg,
      rgba(69, 125, 182, 0.15),
      rgba(186, 107, 132, 0.25)
    ),
    url("/images/trello-bg-03.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  font-family: var.$ff-01;

  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
