@use "../abstracts/variable" as var;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var.$fsi-root;
}

body {
  width: 100vw;
  height: 100vh;

  font-family: var.$ff-01;

  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  background-color: #6e849600;
}

.button-disabled {
  opacity: 0.5;
  pointer-events: none;
}
