@use "../../assets/style/abstracts/mixins" as mixn;
@use "../../assets/style/abstracts/variable" as var;

.side-bar-left {
  position: absolute;
  top: 0;
  left: 1rem;
  height: 100vh;
  margin-right: 1rem;
  z-index: var.$z-ix-1000;
  @include mixn.flexy(column, center);

  &__container {
    @include mixn.flexy(column, flex-start, flex-start, 10%);
    height: 90%;
    width: auto;
    box-shadow: 1rem 0.2rem 2rem rgba(1, 1, 1, 0.15);
    border-radius: var.$bor-2;
    transition: all 0.5s ease;
    position: relative;

    @media screen and (max-width: 600px) {
      height: 90%;
    }
    .__loading {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .btn-title {
      transition: all 0.2s ease;
      width: 0;
      opacity: 0;
      margin: 0;
    }

    &:hover {
      @media screen and (min-width: 600px) {
        .btn-title {
          width: 10rem;
          opacity: 1;
          margin: 0 2rem 0 1rem;
        }

        .side-bar-left__btn-active {
          &::after {
            background-color: #3d83eb;
          }
        }

        .logo__heading {
          opacity: 1;
          width: 10rem;
          margin-left: 1rem;
        }
      }
    }
  }

  & hr {
    width: 100%;
    border: none;
  }

  &__btns {
    @include mixn.flexy(column, center, center);
    padding: 1rem;
  }

  &__btn {
    @include mixn.flexy(row, flex-start, flex-start, 1rem);
    padding: 1rem 0rem 1rem 1rem;
    font-size: var.$fsi-14;
    font-weight: var.$fwt-400;
    cursor: pointer;

    &--workspace {
      @include mixn.flexy(row, center, center, 1rem);
      width: 100%;
      margin: 2rem 0;
      cursor: pointer;
    }

    &--help {
      position: absolute;
      bottom: 1rem;
    }
  }

  &__btn-active {
    @include mixn.flexy(row, flex-start, center);
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 0.3rem;
      height: 100%;
      transition: all 0.3s ease;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}
