@use "../../assets/style/abstracts/mixins" as mixn;
@use "../../assets/style/abstracts/variable" as var;

.side-bar-left {
  position: absolute;
  top: auto;
  left: 1rem;
  height: 90vh;
  margin-right: 1rem;
  z-index: 2000;

  &__container {
    @include mixn.flexy(column, flex-start, flex-start);
    height: 96%;
    width: auto;
    box-shadow: 1rem 0.2rem 2rem rgba(1, 1, 1, 0.15);
    border-radius: var.$bor-05;
    transition: all 0.5s ease;
    position: relative;

    .btn-title {
      transition: all 0.2s ease;
      width: 0;
      opacity: 0;
    }

    &:hover {
      .btn-title {
        width: 10rem;
        opacity: 1;
      }
    }
  }

  & hr {
    width: 100%;
    border: none;
  }

  &__btns {
    @include mixn.flexy(column, center, center);
    padding: 1rem;
  }

  &__btn {
    @include mixn.flexy(row, flex-start, flex-start, 1rem);
    padding: 1rem 0rem 1rem 1rem;
    font-size: var.$fsi-14;
    font-weight: var.$fwt-400;
    cursor: pointer;

    &--workspace {
      @include mixn.flexy(row, center, center, 1rem);
      width: 100%;
      margin: 2rem 0;
      cursor: pointer;
    }

    &--help {
      position: absolute;
      bottom: 1rem;
    }
  }

  &__btn-active {
    @include mixn.flexy(row, flex-start, center);
  }
}

a {
  text-decoration: none;
  color: inherit;
}
