@use "../../assets/style/abstracts/mixins" as mixn;
@use "../../assets/style/abstracts/variable" as var;

.table {
  width: 100%;
  min-height: 90%;
  height: 90vh;
  align-self: flex-start;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 11fr;

  margin-top: 1rem;
  margin-left: 7.5rem;
  margin-right: 1rem;

  border-radius: var.$bor-05;
  overflow: hidden;
  position: relative;

  @media screen and (max-width: 600px) {
    height: 82vh;
    min-height: 50vh;
    margin: 0.5rem;
  }

  &__sub {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr;
    height: auto;

    @media screen and (max-width: 900px) {
      @include mixn.flexy(column, center, center);
    }
  }

  &__top {
    @include mixn.flexy(row, space-around, center);
    padding: 2rem 0;
    border-bottom: 0.05rem solid rgba(128, 128, 128, 0.25);

    @media screen and (max-width: 900px) {
      @include mixn.flexy(column, center, center, 1rem);
    }

    .heading {
      font-size: var.$fsi-14;
    }

    .filter-and-group-by {
      @include mixn.flexy(row, center, center, 4rem);

      @media screen and (max-width: 900px) {
        @include mixn.flexy(column, center, center, 1rem);
      }

      .group-by {
        @include mixn.flexy(row, center, center, 1rem);
        select {
          padding: 0 1rem;
          border: 0.1rem solid rgba(65, 105, 225, 0.25);
          outline-color: rgba(65, 105, 225, 0);
          outline-width: 0.001rem;
          outline-style: dashed;
        }
      }
      .filter-by {
        @include mixn.flexy(row, center, center, 1rem);
        select {
          padding: 0 1rem;
          border: 0.1rem solid rgba(65, 105, 225, 0.25);
          outline-color: rgba(65, 105, 225, 0);
          outline-width: 0.001rem;
          outline-style: dashed;
        }
      }

      .order-btn {
        border: 0.2rem solid rgba(royalblue, 0.25);
        box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.08);
        border-radius: var.$bor-05;
        padding: 0.5rem 1rem;
        cursor: pointer;
        transition: all 0.2s ease;

        @media screen and (min-width: 900px) {
          &:hover {
            transform: scale(1.1);
            box-shadow: 1rem 1rem 0.5rem rgba(0, 0, 0, 0.15);
          }

          &:active {
            transform: scale(1);
            box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.15);
          }
        }
      }
    }

    .add-task {
      @include mixn.flexy(row, center, center, 1rem);
      border: 0.2rem solid rgba(128, 128, 128, 0.25);
      box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.15);
      background-color: royalblue;
      color: white;
      border-radius: var.$bor-05;
      padding: 0.5rem 1rem;
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        transform: scale(1.1);
        box-shadow: 1rem 1rem 0.5rem rgba(0, 0, 0, 0.15);
      }
    }
  }
  &__bottom {
    padding: 0 10rem;

    @media screen and (max-width: 900px) {
      width: 80vw;
      height: 60vh;
      padding: 0 1rem;
      overflow-x: scroll;
      @include mixn.flexy(column, flex-start, center);
    }

    @media screen and (max-width: 600px) {
      width: 100%;
      height: auto;
      padding: 0;
    }

    .headers {
      width: 100%;
      margin: 2rem 0;
      padding: 1rem 2rem;
      border-bottom: 0.05rem solid rgba(128, 128, 128, 0.25);

      display: grid;
      grid-template-columns: 1fr 3fr repeat(4, 2fr);
      grid-template-rows: 1fr;

      font-size: var.$fsi-14;
      font-weight: var.$fwt-600;

      @media screen and (max-width: 900px) {
        width: 100%;
        margin: 0;
        font-size: 1rem;
        padding: 1rem 1rem;
        @include mixn.flexy(row, space-between, center);
      }

      .title,
      .priority {
        @include mixn.flexy(row, flex-start, center, 1rem);
        span {
          opacity: 0.6;
          cursor: pointer;
        }
      }
    }

    .contents {
      width: 100%;
      height: 65vh;
      overflow-y: scroll;

      @media screen and (max-width: 600px) {
        width: 100%;
        padding: 0.5rem;
        padding-bottom: 12rem;
      }

      &__sub {
        width: 100%;
        height: 100%;
        @include mixn.flexy(column, flex-start, center);
      }

      .grouping-title {
        width: 100%;

        h3 {
          display: inline-block;
          margin-top: 2rem;
          padding: 0.5rem 2rem 0.5rem 2rem;
          font-size: var.$fsi-14;
          background-color: royalblue;
          color: white;
        }
        &:not(:first-child) {
          margin-top: 3rem;
        }
      }
    }
  }
}
