@use "../../assets/style/abstracts/variable" as var;
@use "../../assets/style/abstracts/mixins" as mixn;

.nav-bar {
  @include mixn.flexy(row, space-between, center, 1rem);
  margin-top: 0.2rem;
  padding: 0 1rem;
  height: var.$height-nav-01;
  border-radius: var.$bor-2;
  box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.25);
  z-index: var.$z-ix-2000;
  position: relative;

  &__left {
    @include mixn.flexy(row, space-between, center, 1.5rem);

    @media screen and (max-width: 400px) {
      @include mixn.flexy();
    }
  }
}
