@use "../../assets/style/abstracts/variable" as var;
@use "../../assets/style/abstracts/mixins" as mixn;

.nav-bar {
  width: 100%;
  height: var.$height-nav-01;
  padding: 0 2rem;
  @include mixn.flexy(row, space-between, center, 1rem);
  position: relative;

  @media screen and (max-width: 500px) {
    padding: 0 1rem;
  }

  &__left {
    @include mixn.flexy(row, space-between, center, 1.5rem);

    @media screen and (max-width: 400px) {
      @include mixn.flexy();
    }
  }
}
