@use "../../assets/style/abstracts/variable" as var;
@use "../../assets/style/abstracts/mixins" as mixn;

.search {
  &__box {
    position: relative;
    margin: 0.5rem 0;

    input {
      outline: none;
      border-radius: var.$bor-2;
      padding: 0.6rem 2.2rem 0.6rem 4rem;
      font-size: var.$fsi-16;
      font-weight: var.$fwt-500;

      @media screen and (max-width: 700px) {
        width: 18rem;
        margin-right: 1rem;
      }
    }

    label {
      position: absolute;
      top: 54%;
      left: 1rem;
      transform: translateY(-50%);
      cursor: pointer;
      pointer-events: none;
    }
  }
}
