@use "../../../assets/style/abstracts/mixins" as mixn;
@use "../../../assets/style/abstracts/variable" as var;

.big {
  font-size: 2rem;
}
.small {
  font-size: 1rem;
}
.card-modal--container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-bottom: 2rem;
  @include mixn.flexy(column, flex-start);
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 2300;
}

.card-modal {
  @include mixn.flexy(column, center, flex-start);
  width: 55%;
  height: auto;
  margin: var.$height-nav-01 0;
  margin-top: 1rem;
  padding: 4rem 2rem 4rem 2rem;
  border-radius: var.$bor-05;
  position: relative;
  z-index: var.$z-ix-4500;

  @media screen and (max-width: 1200px) {
    width: 70%;
  }
  @media screen and (max-width: 920px) {
    width: 90%;
  }

  &__heading {
    @include mixn.flexy(row, center, center, 1rem);
    margin: 1rem 0;
    position: relative;

    input {
      outline: none;
      border: 0.2rem solid var.$border-color-card;
      border-radius: var.$bor-05;
      padding: 0.5rem 1rem;
      font-size: var.$fsi-16;
    }

    .edit-btn {
      position: absolute;
      top: 0;
      right: -5rem;
      cursor: pointer;
    }
  }
  &__main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    width: 100%;

    @media screen and (max-width: 700px) {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }

  &__left-bar {
    grid-column: 1/4;

    .priority {
      margin: 2rem 0;
      margin-left: 4rem;
      font-size: var.$fsi-12;

      &__box {
        // background-color: #944edaa2;
        // background-color: #ec2a2aa2;
        // background-color: #da4e4ea2;
        // background-color: #da7d4ea2;
        // background-color: #22ce45a2;
        // background-color: #4eda6aa2;
        width: 10rem;
        @include mixn.flexy();
        margin: 0.5rem 0;
        padding: 0.5rem 1rem;
        font-weight: var.$fwt-600;
        border-radius: var.$bor-02;
      }
    }
    .description {
      &__heading {
        @include mixn.flexy(row, flex-start, center, 1rem);
        margin: 1.5rem 0;

        h2 {
          font-size: var.$fsi-18;
        }
      }
    }
    .activity {
      &__heading {
        @include mixn.flexy(row, flex-start, center, 1rem);
        margin: 1.5rem 0;
        margin-top: 6rem;

        h2 {
          font-size: var.$fsi-18;
        }
      }
      &__comment {
        &--editor {
          margin-left: 4rem;

          textarea {
            outline: none;
            width: 100%;
            // background-color: white;
            resize: none;
            height: 10rem;
            border: 0.2rem solid var.$border-color-card;
            border-radius: var.$bor-05;
            padding: 2rem;
          }
        }
        &--btns {
          @include mixn.flexy(row, flex-start, center, 1rem);
          button {
            padding: 0.7rem 1.5rem;
            font-size: var.$fsi-14;
            font-weight: var.$fwt-600;
            border: none;
            margin-top: 0.5rem;
            background-color: transparent;
            cursor: pointer;

            &:not(:last-child) {
              background-color: var.$bg-color-light-btn-account;
              color: white;

              &:hover {
                filter: brightness(90%);
              }
            }

            &:hover:not(:first-child) {
              background-color: rgba(0, 0, 0, 0.05);
              border-radius: var.$bor-05;
            }
          }
        }

        &--para {
          background-color: rgba(0, 0, 0, 0.05);
          padding: 1rem;
          padding-left: 2rem;
          padding-bottom: 2rem;
          margin-left: 4rem;
          border-radius: var.$bor-015;
          font-size: var.$fsi-16;
          font-weight: var.$fwt-600;
          cursor: pointer;

          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
          }
        }
      }
      .comment-list {
        margin: 2rem 0;

        .comment-with-icon {
          display: grid;
          grid-template-columns: 1fr 12fr;
          gap: 1rem;

          margin: 1rem 0;
          font-size: var.$fsi-16;
          font-weight: var.$fwt-600;
        }
      }
    }
  }

  &__right-bar {
    align-self: flex-start;
    grid-column: 4/-1;

    @media screen and (max-width: 700px) {
      margin-left: 4rem;
    }

    .right-bar--container {
      h3 {
        margin-top: 2rem;
        font-size: var.$fsi-14;
      }
    }

    .right-bar__btn {
      @include mixn.flexy(row, flex-start, flex-start, 1rem);
      margin: 1rem 0;
      padding: 1rem;
      width: 20rem;
      cursor: pointer;
    }
  }

  &__btn--close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 4rem;
    height: 4rem;
    @include mixn.flexy();
    cursor: pointer;

    &:hover {
      border: 0.1rem dashed rgba(255, 255, 255, 0.5);
      border-radius: var.$bor-50;
    }
  }
}

.card-modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
